<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<!-- ... -->
		<add key="SSOCert" value="-----BEGIN CERTIFICATE-----
MIIDojCCAoqgAwIBAgIGAYcC8fD6MA0GCSqGSIb3DQEBCwUAMIGRMQswCQYDVQQGEwJVUzETMBEG
A1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEU
MBIGA1UECwwLU1NPUHJvdmlkZXIxEjAQBgNVBAMMCXJiY2Jmc3BvYzEcMBoGCSqGSIb3DQEJARYN
aW5mb0Bva3RhLmNvbTAeFw0yMzAzMjEwNjUyNDNaFw0zMzAzMjEwNjUzNDJaMIGRMQswCQYDVQQG
EwJVUzETMBEGA1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UE
CgwET2t0YTEUMBIGA1UECwwLU1NPUHJvdmlkZXIxEjAQBgNVBAMMCXJiY2Jmc3BvYzEcMBoGCSqG
SIb3DQEJARYNaW5mb0Bva3RhLmNvbTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBANJs
QspGHipU7wpEKHIpXopbpCQwEFm07NqhB5zlnUCeXhvVkEiXnIL0g5rbdQ72OPN0Cq4Z9n8lbhWg
QQOX0jntjNYtzuO6lxDCAnYq/vTEK69neZzruBJHM5OYfkPbQymUY9tPLEg2P7pUu9+Nc6L5syfo
jlqvf6oMCNbm4gpwsFj7btoBENpvCqRhCnb5vkB15uLS0Bti7aidi6GvnUr2CHZcccyWTq5dJNE5
yJfXQL+9NycB06v6NfQaTp1UO5G8+8vInvhEcXWjh0PmcKrrZl4YwG7hOZGKdhbrNaANdfoZqWPk
EZukvDdLz3T9W04hyPxVE/DWbhd0Itfo4okCAwEAATANBgkqhkiG9w0BAQsFAAOCAQEAmM2G5E4U
b3SpdGlaQyHB9L7WUT1xuwL07XAJV8/+BzezKquXsUN/PCIf63ARka2dFrnG3D5VeastAEhj6V5y
b1oV+pz+GYKfRWyaEcVSHLVEYIIfwGBPkLSztRIgVFONDdy0TIap9FS4Qz3lI0SjeF6yzCXdDXJD
mjGfnPVyDBfZ/gFaW0tqiBzaspuBQ7wm0Fpjcp+mkiAf1R2iYCqVwJ8a0s3I6sWPQViCmgYeC0c+
lt5UlJGlQ0dTZW+CyKQgiNk4ASYTazCFxF4EwXQB8T2S5dBlqW/OVg+AVqIeldGdPXag2/z3M/ve
33CPMxiwhA23+0FLsK6QpGAG6CZqbw==
-----END CERTIFICATE-----"/>
		<!-- ... -->
	</appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.2" />
    <httpRuntime targetFramework="4.6.2" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Xml" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>